ion-tabs
{
  //  position: initial;
}

ion-header
{
ion-button
{
    width:50%;
   
}
ion-buttons
{
    background-color: #f8f8f8;
    text-decoration:underline;
}
label
{
    text-decoration:underline;
}
}

