<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Klant details
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="customer !== undefined">
      <div class="user-photo" padding-top>
        <ion-avatar>
          <img [src]="customer.photoURL || '/assets/images/noavatar.png'">
        </ion-avatar>
      </div>
    
      <ion-list>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>
            <p>Naam</p>
            <input [(ngModel)]="customer.firstName" style="width: 50px;" >
            <input [(ngModel)]="customer.middleName"  style="width: 80px;" >
            <input [(ngModel)]="customer.lastname"  style="width: 150px;" >
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>
            <p>Email</p>
            <input [(ngModel)]="customer.Email" >
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="call" slot="start"></ion-icon>
          <ion-label>
            <p>Telefoon</p>
            <input [(ngModel)]="customer.Phone" >
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>
              <p>Adres</p>
              <ion-input type="text" value="Van Schaikstraat 1"></ion-input>
              <ion-input value="6921 BJ Duiven"></ion-input>
            </ion-label>
          </ion-item>
      </ion-list>
      <ion-button expand="full" bottom="0px" (click)="saveCustomer()" >Opslaan</ion-button>
    </ion-content>